html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	color: #737373;
	font-family: 'Amiri', serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: inherit;
}
/* --- Clearfix --- */
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
/* --- Loader --- */
.preload {
	width: 100%;
	height: 100vh;
	background-color: #01ac60;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.loader {
	width: 3.125em; /* 50px */
	height: 3.125em; /* 50px */
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.loader-three {
	border-radius: 3.125em; /* 50px */
	border: 3px solid transparent;
	border-top-color: #fff;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
.loader-three:after {
	content: "";
	position: absolute;
	top: 0.3125em; /* 5px/16px */
	left: 0.3125em; /* 5px/16px */
	bottom: 0.3125em; /* 5px/16px */
	right: 0.3125em; /* 5px/16px */
	border-radius: 3.125em; /* 50px */
	border: 0.1875em solid transparent; /* 3px */
	border-top-color: #fff;
	opacity: 0.8;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}
.loader-three:before {
	content: "";
	position: absolute;
	top: 0.75em; /* 12px/16px */
	left: 0.75em; /* 12px/16px */
	bottom: 0.75em; /* 12px/16px */
	right: 0.75em; /* 12px/16px */
	border-radius: 3.125em; /* 50px */
	border: 0.1875em solid transparent;
	border-top-color: #fff;
	opacity: 0.6;
	-webkit-animation: spin 5s linear infinite;
	animation: spin 5s linear infinite;
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

a {
	color: inherit;
	text-decoration: none;
}
h2 {
	font-size: 1.125em; /* 20/16 */
	margin: 0 0 1.25em 0; /* 20/16 */
	line-height: 1.25em;
	color: #111;
	text-transform: uppercase;
}
p {
	padding: 0;
	margin: 0;
	margin-bottom: 1.25em; /* 20/16 */
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	height: 0.125em; /* 2/16 */
	margin: 6.25em 0; /* 100/16 */
	padding: 0;
	background-color: #01ac60;
	border: none;
}
strong {
	font-weight: 700;
}
ul {
	list-style: none;
}
.header {
	height: 100vh;
	background: url("../img/greenwater.jpg") center center no-repeat fixed;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #333;
	transition: opacity 1s ease-in;
}
.container {
	padding: 2.5em 4em 4em 4em; /* 40/16 */
	max-width: 73.125em; /* 1170/16 */
	margin: 0 auto;
	z-index: 5;
	position: relative;
	text-align: center;
}

.header-logo {
	display: block;
	float: left;
}
.header-logo img {
	width: 90%;
}
.header-baseline {
	margin: 5.625em 0; /* 90/16 */
	letter-spacing: 0;
}
.header-baseline-l {
	display: block;
	background: -webkit-linear-gradient(left, #ff3b57, #892168);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header-baseline-l1 {
	font-size: 3.75em; /* 60/16 */
	line-height: 2.5em; /* 70/60 */
	font-weight: 700;
	-webkit-animation: text 1.5s;
	animation: text 1.5s;
}
.header-baseline-l3 {
	font-size: 2.5em; /* 40/16 */
	line-height: 1em;
	font-weight: 400;
	-webkit-animation: subtitle 1.5s;
	animation: subtitle 1.5s;
}
@-webkit-keyframes text {
	0% {
		opacity: 0;
		margin-bottom: -0.66666em; /* -90px/60 */
		letter-spacing: 0.375em;
	}
	75% {
		opacity: 1;
	}
}
@keyframes text {
	0% {
		opacity: 0;
		margin-bottom: -0.66666em; /* -90px/60 */
		letter-spacing: 0.375em;
	}
	75% {
		opacity: 1;
	}
}
@-webkit-keyframes subtitle {
	0% {
		opacity: 0;
		font-size: 0;
	}
	75% {
		opacity: 1;
	}
}
@keyframes subtitle {
	0% {
		opacity: 0;
		font-size: 0;
	}
	75% {
		opacity: 1;
	}
}
.header .btn {
	margin-top: 0.5em;
	margin-bottom: 2em;
	color: #fefefe;
	border-color: #fefefe;
}
/*---------Menu------------*/
.menu {
	margin-top: 1.5em;
	font-size: 1.25em; /* 20/16 */
	font-weight: 700;
	color: #fefefe;
	text-align: right;
	float: right;
}
.menu-item {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.menu-item:before {
	content: '|';
	color: #fefefe;
	display: inline-block;
	padding: 0 1.5em;
}
.menu-item:first-child:before {
	display: none;
}
.menu-item:hover,
.menu-item:active {
	color: #892168;
}
.menu-dropdown {
	display: none;
}
.btn {
	display: inline-block;
	padding: 0.3em 2.5em 0 2.5em; /* 40/16 */
	font-size: 1em;
	line-height: 2.8em; /* 40/15 */
	font-weight: 700;
	color: #1C4045;
	text-transform: uppercase;

	background-color: rgba(68,68,68,0);     /* #444 */
	background-color: transparent;
	border: 0.133333em solid #1C4045; /* 2/15 */
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.btn:hover {
	background-color: rgba(68,68,68,0.5);
	border-color: transparent;
}
.btn-small {
	line-height: 1.875em; /* 30/16 */
}

/*-----------------About---------------*/
.section {
	padding: 1em 0;
	background-color: #fff;
	position: relative;
}
.section:before,
.section:after {
	content: '';
	display: block;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	z-index: 4;
}
.section:after {
	background-color: #fff;
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.section-title {
	margin-bottom: 4.375em; /* 70/16 */
}
#blog .section-title {
	padding: 0 2em;
}
.section-title h1 {
	float: left;
	margin: 0;
	margin-top: 0.09375em; /* 3/32 */
	padding: 0;
	width: 17.094017%;  /* 200/1170 */
	text-align: left;
	text-transform: uppercase;
	line-height: 1.40625em; /* 45/32 */
}
.section-title p {
	float: left;
	width: 76.9230769%; /* 900/1170 */
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	line-height: 1.5625em; /* 25/16 */
	margin-left: 1.25em; /* 20/16 */
}
.about-text {
	width: 50%;
	float: left;
}
.about-picture {
	width: 40%;
	float: right;
	margin-left: 1em;
}
.about-2 {
	padding-top: 1.25em; /* 20/16 */
}
.about-2 .about-picture {
	width: 40%; /* 400/1170 */
	float: left;
}
.about-2 .about-text {
	width: 50%; /* 600/1170 */
	float: right;
	margin-right: 1em;
}
.category {
	font-weight: 700;
	background: -webkit-linear-gradient(left, #ff3b57, #892168);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*--------------Background--------------*/
.bg {
	padding: 5em 0 3.5em 0;
	text-align: center;
	color: #fff;
	background: url("../img/greenwater.jpg") center center fixed;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bg .container {
	padding: 2em 1.5em;
}
.quote-text {
	display: inline-block;
	width: 100%;
	font-size: 2.25em; /* 36/16 */
	line-height: 1.27777; /* 46/36 */
	font-weight: 700;
	margin: 0 auto 1em auto;
	background: -webkit-linear-gradient(left, #ff3b57, #892168);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.quote-author {
	font-size: 1.5em; /* 24/16*/
	position: relative;
	font-style: normal;
	text-transform: uppercase;
}

/*-------------Post-----------------*/
#blog .container {
	padding: 2.5em 1em 4em 1em;
}
.posts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;

	-webkit-align-content: space-between;
	-moz-align-content: space-between;
	-ms-align-content: space-between;
	-o-align-content: space-between;
	align-content: space-between;
}
.post {
	align-self: flex-start;
	width: 35vw;
	height: auto;
	margin: 1.25em 0.625em;
	border: 0.0625em solid #222;
}
.post-thumb {
	align-self: flex-start;
	line-height: 0;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.post-thumb img {
	height: auto;
	align-self: flex-start;
}
.post-thumb:hover {
	opacity: 0.8;
}
.post-content {
	align-self: flex-start;
	padding: 1.25em; /*20px/16*/
	text-align: left;
	background-color: #fff;
}
.post-content .description {
	text-align: justify;
	color: #222;
}
.post-meta {
	width: 18.18181818%; /* 100/550 */
	font-size: 0.75em; /* 12/16 */
	line-height: 30px;
	color: #444;
}
.post-content .btn {
	position: relative;
	left: 50%;
	margin-left: -90px;
}
.post-content .btn:hover {
	color: #fff;
}
.bg-2 {
	background: url("../img/greenwater.jpg") center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*------------Contact-----------*/
.contact {
	width: 80%;
	margin: 0 auto;
}
.contact-info {
	float: left;
	width: 40%;
}
.contact-info p {
	font-size: 1em;
	color: #222;
}
.contact-info p a {
	font-weight: 700;
	cursor: pointer;
}
.map {
	position: relative;
}
.map:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,.1);
}

/*-----------Footer----------------*/

.footer .container {
	padding: 1em;
	text-align: left;
}
.footer:after {
	display: none;
}
.footer-copyright {
	width: 50%;
	float: left;
	color: #737373;
	font-size: 1em;
	font-weight: 700;
}
.footer-socicons {
	width: 50%;
	float: right;
	text-align: right;
}
.footer-socicons .fa {
	font-size: 1em;
}
.footer-socicons a {
	margin-right: 1em;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-ms-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
}
.footer-socicons a:hover {
	color: #000;
}

/* -------------Gallery overlay----------==--- */
#overlay {
	position: fixed;
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
}
#overlay img {
	margin-top: 2%;
	width: 1020px;
	height: auto;
	border: 0.3125em solid #fff; /* 5/16 */
	border-radius: 0.3125em; /* 5/16 */
}

/*-------------Lightbox pages------------------*/

.grid {
	display: grid;
	grid-template-columns: repeat(3, 9.375em); /* 150px/16 */
	justify-content: center;
	align-content: center;
	gap: 0.625em; /* 10px/16 */
	height: 100vh;
	background-color: #fefefe;
}
.grid img {
	width: 9.375em; /* 150px/16 */
	height: 12.5em; /* 200px/16 */
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.grid img:hover {
	opacity: .8;
}

#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	display: none;
}
#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
#lightbox img {
	max-width: 90%;
	max-height: 90%;
	background-color: #000;
	border: 2px solid #fff;
}

/*-----------------------Media Queries------------------------*/

@media (max-width: 75em){     /* 1200/16 */
	.header .container {
		padding: 3.75em 3.75em; /* 60/16 */ /* 60/16 */
	}
	.header-logo img {
		margin-top: 0.375em; /* 6/16 */
	}
	.post {
		margin: 0.9375em; /* 15/16 */
	}
	.post-thumb {
		width: 28.125em; /* 450/16 */
		height: 12.5em; /* 200/16 */
	}
	.post-content {
		padding: 1em;
	}
	.post-content p {
		line-height: 1.625em; /* 26/16 */
	}
	.post-meta {
		width: 22.22222222%; /* 100/450 */
		padding-top: 4.428571428571429em; /* 62/14 */
		font-size: 0.75em;
		line-height: 2.1428em; /* 30px/14 */
	}
	.bg {
		padding: 4em 0 2.5em 0;
	}
	.bg .container {
		padding: 1.5em 1em;
	}
	.quote-text {
		margin: 0 auto 1em auto;
		font-size: 1.875em; /* 30/16 */
	}
	.quote-author {
		font-size: 1.25em;
	}

}
@media (max-width: 62.5em){ /* 1000/16 */
	.header .container {
		padding: 2.75em 3.125em; /* 44/16 */ /* 50/16 */
	}
	.header-logo img {
		width: 80%;
		margin-top: 0.625em; /* 10/16 */
	}
	.menu {
		font-size: 1.125em; /* 18/16 */
		margin-top: 2em;
	}
	.header-baseline {
		margin: 5em 0; /* 80/16 */
	}
	.header-baseline-l1 {
		font-size: 3.375em; /* 54/16 */
	}
	.header-baseline-l3 {
		font-size: 2.375em; /* 38/16 */
		font-weight: 400;
	}
	@keyframes text {
		0% {
			opacity: 0;
			margin-bottom: -0.66666em; /* -90px/60 */
			letter-spacing: 0.250em;
		}
		75% {
			opacity: 1;
		}
	}
	.about-icon {
		display: none;
	}
	.about-text {
		width: 53%;
		line-height: 1.5em; /* 24/16 */
	}
	.about-picture {
		width: 40%;
	}
	.about-2 {
		padding-top: 0em;
	}
	.about-2 .about-picture {
		width: 33%;
		margin-top: 2.3em;
	}
	.about-2 .about-text {
		width: 55%;
		margin-left: 3em;
	}
	hr {
		margin: 3em 0;
	}
	.posts {
		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		-o-flex-flow: column wrap;
		flex-flow: column wrap;

		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;

		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		-ms-align-items: flex-start;
		-o-align-items: flex-start;
		align-items: flex-start;

		-webkit-align-content: center;
		-moz-align-content: center;
		-o-align-content: center;
		align-content: center;
	}
	.section-title {
		margin-bottom: 5em; /* 80/16 */
	}
	.section-title h1 {
		font-size: 1.75em; /* 28/16 */
		margin: 0;
		margin-top: 0.1428571428em; /* 4/28 */
		padding: 0;
		width: 25.641025%;  /* 300/1170 */
		line-height: 2.42857142em; /* 68/28 */
	}
	.section-title p {
		width: 70%;
		margin: 0;
		padding: 0;
		line-height: 1.5625em; /* 25/16 */
	}
}
@media (max-width: 53.125em){ /* 850/16 */
	.header .container {
		padding: 2.375em 2.75em; /* 38/16 */ /* 44/16 */
	}
	.header-logo img {
		margin-top: 0.75em; /* 12/16 */
	}
	.btn {
		display: inline-block;
		font-size: 0.9375em; /* 15/16 */
		line-height: 2.133333333em; /* 32/15 */
	}
	.bg {
		padding: 2.5em 0 1.25em 0;
	}
	.bg .container {
		padding: 1.5em 1em;
	}
	.quote-text {
		margin: 0 auto 1em auto;
		font-size: 1.625em; /* 26/16 */
	}
	.quote-author {
		font-size: 1.25em; /* 18/16 */
	}

	.about-text {
		width: 100%;
		font-size: 0.9375em; /* 15/16 */
		line-height: 1.46666666em; /* 22/15 */
		text-align: center;
	}
	.about-picture {
		float: none;
		width: 65%;
		margin: 1em 6em;
	}
	.about-2 .about-text p {
		margin-bottom: 0.625em; /* 10/16 */
	}
	.about-2 .about-text {
		width: 100%;
		padding: 1em 2em;
		margin-left: 0em;
	}
	.about-2 .about-picture {
		float: none;
		width: 65%;
		margin: 1em 6em;
	}
	.post-content .btn {
	     margin-left: -5.5em; /* 88/16 */
	}
	.contact {
		width: 100%;
	}
	.contact-info {
		float: none;
		font-size: 0.9375em; /* 15/16 */
		line-height: 1.4666666666666666em; /* 22/15 */
		text-align: center;
		margin: 3em auto;
	}
	.map iframe {
		height: 25em; /* 400/16 */
	}
}
@media (max-width: 46.875em){ /* 750/16 */
	.header .container {
		padding: 1.875em 2.375em; /* 30/16 */ /* 38/16 */
	}
	.header-logo img {
		margin-top: 0.5em; /* 8/16 */
	}
	.menu {
		display: none;
	}
	.menu-dropdown {
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		float: right;
		margin-top: 1em;
	}
	.header-baseline {
		margin: 4em 0;
	}
	.header-baseline-l1 {
		font-size: 2.875em; /* 46/16 */
	}
	.header-baseline-l3 {
		font-size: 1.875em; /* 30/16 */
		line-height: 1.5em; /* 45/30 */
	}
	h2 {
		font-size: 1em;
		margin-bottom: 1em;
		line-height: 1.25em; /* 20/16 */
	}
	hr {
		display: none;
	}
	.about-picture {
		float: none;
		width: 70%;
	}
	.about-2 .about-picture {
		float: none;
	}
	.section-title {
		margin-bottom: 4em; /* 80/16 */
	}
	.section-title h1 {
		font-size: 1.5em; /* 24/16 */
		float: left;
		margin: 0;
		margin-top: 0.125em; /* 3/24 */
		padding: 0;
		width: 22.2222222222%;  /* 260/1170 */
		line-height: 2.25em; /* 54/24 */
	}
	.section-title p {
		line-height: 1.333333em; /* 20/15 */
		margin-left: 1.066667em; /* 16/15 */
		font-size: 0.9375em; /* 15/16 */
	}
}
@media (max-width: 40em){ /* 640/16 */
	.header-baseline-l1 {
		font-size: 2.625em; /* 42/16 */
	}
	.header-baseline-l3 {
		font-size: 1.625em; /* 26/16 */
	}

	.btn {
		font-size: 0.875em; /* 14/16 */
		line-height: 2.2857142857142856em; /* 32/14 */
	}
	.post {
		width: 60vw;
	}
	.section {
	    padding: 0.875em 0;
	}
	.section-title h1 {
		font-size: 1.375em; /* 22/16 */
		letter-spacing: 0;
		float: left;
		margin: 0;
		margin-top: 0.18181818181818182em; /* 4/22 */
		padding: 0;
		width: 21.36752136752136%;  /* 250/1170 */
		line-height: 2.4545454545454546em; /* 54/22 */
	}
	.section-title p {
		width: 73%;
		margin-left: 0.6667em; /* 10/15 */
	}
	.contact-info p {
		font-size: 1em;
	}
	.bg {
		padding: 2.375em 0 1.125em 0;
	}
	.bg .container {
		padding: 1.375em;
	}
	.quote-text {
		margin: 0 auto 1em auto;
		font-size: 1.375em;
	}
	.quote-author {
		font-size: 1.125em; /* 18/16 */
	}
}
@media (max-width: 37.5em){ /* 600/16 */
	.header .container {
		padding: 1.625em 1.625em; /* 26/16 */ /* 26/16 */
	}
	.header-logo img {
		width: 70%;
		margin-top: 0.375em; /* 6/16 */
	}
	.section {
	    padding: 0;
	}
	.section-title h1 {
		float: none;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		font-size: 1.375em; /* 22/16 */
		letter-spacing: 0.0456em; /* 1/22 */
		margin-top: 0em;
		line-height: 2.273em; /* 50/22 */
	}
	.section-title p {
		float: none;
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		margin-top: 0.8em; /* 12/15 */
	}
	.about-picture {
		display: none;
	}
	.about-text {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
		font-size: 0.9375em; /* 15/16 */
		line-height: 1.4666em; /* 22/15 */
	}
	.about-2 .about-text {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
	}
	.contact {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.contact-form {
		display: none;
	}
	.contact-info {
		width: 65%;
		float: none;
	}
	footer .footer-socicons {
		display: inline-block;
		float: right;
		font-size: 0.875em;
	}
	.map iframe {
		height: 15.625em; /* 250/16 */
	}
}
@media (max-width: 34.375em){ /* 550/16 */
	.header-baseline-l1 {
		font-size: 2.375em; /* 38/16 */
	}
	.header-baseline-l3 {
		font-size: 1.375em; /* 22/16 */
	}
	@keyframes text {
		0% {
			opacity: 0;
			margin-bottom: -0.666em; /* -90px/60 */
			letter-spacing: 0.125em;
		}
		75% {
			opacity: 1;
		}
	}
	.bg {
		padding: 2em 0 1em 0;
	}
	.bg .container {
		padding: 1.125em;
	}
	.quote-text {
		margin: 0 auto 1em auto;
		font-size: 1.125em;
	}
	.quote-author {
		font-size: 1em; /* 16/16 */
	}
	.section-title {
	    margin-bottom: 3em;
	}
	.post {
		align-self: flex-start;
		position: relative;
		width: 65vw;
		height: auto;
		margin: 0.875em; /* 14/16 */
	}
	.post-content {
		align-self: flex-start;
		text-align: justify;
		padding: 1em;
	}
	.post-content p {
		line-height: 1.625em; /* 26/16 */
	}
	.post-meta {
		width: 22.22222222%; /* 100/450 */
		padding-top: 4.428571428571429em; /* 62/14 */
		font-size: 0.75em; /* 12/16 */
		line-height: 30px;
	}
	.post-content .btn {
	    margin-left: -78px;
	}
	.footer-copyright,
	.footer-socicons {
		font-size: 0.8125em; /* 13/16 */
		width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.footer-copyright {
		margin-bottom: 1em;
	}
	.grid {
		display: grid;
		grid-template-columns: 12.5em; /* 200px/16 */
		justify-content: center;
		align-content: center;
		height: auto;
		margin: 3em 1em;
	}
	#lightbox img {
		max-width: 80%;
		max-height: 80%;
		border: 0.0625em solid #fff; /* 1/16 */
	}
}
@media (max-width: 27.5em ) { /* 440/16 */
	.header .container {
		padding: 1.375em 1.375em; /* 22/16 */ /* 22/16 */
	}
	.header-logo img {
		margin-top: 0.1875em; /* 3/16 */
	}
	.menu-dropdown {
		-webkit-transform: scale(.9);
		-moz-transform: scale(.9);
		-ms-transform: scale(.9);
		-o-transform: scale(.9);
		transform: scale(.9);
		margin-top: 0.4375em; /* 7/16 */
	}
	.header-baseline-l1 {
		font-size: 2.125em; /* 34/16 */
	}
	.header-baseline-l3 {
		font-size: 1.25em; /* 20/16 */
	}
	.btn {
		line-height: 2.1428em; /* 30/14 */
		padding: 0.3em 2em 0 2em;
	}
	.section-title {
	    margin-bottom: 1.5em;
	}
	.map iframe {
		height: 12.5em; /* 200/16 */
	}
	.contact-info {
		width: 100%;
	}
}
@media (max-width: 22.5em){ /* 360/16 */
	.header .container {
		padding: 1em 1em;
	}
	.header-logo img {
		width: 60%;
		margin-top: 0.5em; /* 8/16 */
	}
	.header-baseline-l1 {
	    font-size: 1.875em; /* 30/16 */
	    padding-top: 2em;
	}
	.header-baseline-l3 {
		font-size: 1.125em; /* 18/16 */
	}
	@keyframes text {
		0% {
			opacity: 0;
			margin-bottom: -0.666em;
			letter-spacing: 0.065em;
		}
		80% {
			opacity: 1;
		}
	}
	.bg {
		padding: 1.5em 0 1em 0;
	}
	.bg .container {
		padding: 1em;
	}
	.quote-text {
		margin: 0 auto 1em auto;
		font-size: 1em;
		font-weight: 400;
	}
	.quote-author {
		font-size: 0.875em; /* 14/16 */
	}
}
@media (max-width: 18.75em){ /* 300/16 */

	.header-baseline-l1 {
	    font-size: 1.625em; /* 26/16 */
	}
	.header-baseline-l3 {
		font-size: 1em;
	}
	.menu-dropdown {
		-webkit-transform: scale(.8);
		-moz-transform: scale(.8);
		-ms-transform: scale(.8);
		-o-transform: scale(.8);
		transform: scale(.8);
		margin-right: -0.625em; /* 10/16 */
	}
	p {
		margin-bottom: 0;
	}
	.btn {
		padding: 0 1.4285714285714286em; /* 20/14 */
		font-size: 0.875em; /* 14/16 */
		line-height: 1.8571428571428572em; /* 26/14 */
	}
	.contact-info p {
		font-weight: 400;
		font-size: 0.9375em; /* 15/16 */
	}
}
